<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Car Registration</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<header>
    {% include 'header.html' %}
</header>

<body>
    <h1>Car Registration</h1>

    <h2>Link a car to your account</h2>

    <section>
        <h3>Manual Entry:</h2>
        <p>Manually enter data to be registered.</p>
        <form> <!--Subject to change depending on DB-->
            <label>
                <p>Make: <input id="make"></input></p>
            </label>
            <label>
                <p>Model: <input id="model"></input></p>
            </label>
            <label>
                <p>Year: <input id="year"></input></p>
            </label>
            <label>
                <p>License Plate: <input id="license"></input></p>
            </label>
            <label>
                <p>Engine: <input id="engine"></input></p>
            </label>
            <label>
                <p>Wheels: <input id="wheels"></input></p>
            </label>
        </form>
        <button id="manual_confirm" onclick="save_car_registration()"> <!--Onpressed = validate fields not empty then add to DB-->
            Confirm Registration
        </button>
    </section>
    <p id="errors"></p>
</body>

<footer id="footer">
    {% include 'footer.html' %}
</footer>

<script>
    // TODO: Add more error checks depending on the DB
    function verify_data(data) {
        for (const item in data) {
            if (data[item].length == 0) {
                return "Fields must not be empty"
            }
        }
        return ""
    }

    function save_car_registration() {
        const errorHandler = document.getElementById("errors");

        const data = {
            make: document.getElementById("make").value,
            model: document.getElementById("model").value,
            year: document.getElementById("year").value,
            license: document.getElementById("license").value,
            engine: document.getElementById("engine").value,
            wheels: document.getElementById("wheels").value
        };

        const errors = verify_data(data);

        if (!errors) {
            axios.post("/api/save_car_registration", data);

            errorHandler.textContent = "Part added!"

            document.getElementById("make").value = ""
            document.getElementById("model").value = ""
            document.getElementById("year").value = ""
            document.getElementById("license").value = ""
            document.getElementById("engine").value = ""
            document.getElementById("wheels").value = ""
        } else {
            errorHandler.textContent = errors;
        }
    }
</script>
