<section id="commonFooter">
    
    <h3>Return to home</h3>
    <p><a href="{{ url_for('home') }}">Main home page</a></p>

    <!--Change to search page later-->
    <h3>Shop with us</h3>
    <p>Go to our <a href="{{ url_for('home') }}">search page</a> and find what you need</p>

    <h3>Contact us</h3>
    <p>Contact us on <a href="https://github.com/Team-3D-UoP/Team-3D-Rep">Github</a></p>
    
    <h3>About us</h3>
    <p>AutoPartFinder is an app that will allow users to buy car parts online, registering their components and requesting help from professionals</p>
</section>